# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environments
venv/
env/
ENV/
.venv/
env.bak/
venv.bak/

# Django
*.log
*.pot
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
*.env
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Render / Deployment
build/
.cache

# Secret files
secret_key.txt