{% load static %}
<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="UTF-8">
    <title>Панель управління</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'tasks/css/style.css' %}">
</head>

<body>

    <nav class="nav_bar">
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <p>Привіт, {{ user.username }}</p>
            <button class="btn btn-danger" type="submit">Вийти</button>
        </form>
    </nav>

    <div class="container">
        <div class="container_back">

            <h1 class="main_text">Панель управління</h1>

            <p>Розділи системи:</p>

            <div class="menu">
                <a href="/students/" class="btn btn-primary">Учні</a>
                <a href="/clubs/" class="btn btn-primary">Гуртки</a>
                <a href="/enrollments/" class="btn btn-primary">Зарахування</a>
            </div>

        </div>
    </div>

</body>

</html>