{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'tasks/css/style.css' %}">
    <title>Реєстрація</title>

</head>

<body>
    <div class="container_back">
        <h2 class="main_text">Реєстрація</h2>

        <form method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}

            <label>Логін</label>
            {{ form.username }}
            {{ form.username.errors }}

            <label>Email</label>
            {{ form.email }}
            {{ form.email.errors }}

            <label>Пароль</label>
            {{ form.password1 }}
            {{ form.password.errors }}

            <label>Підтвердження паролю</label>
            {{ form.password2 }}
            {{ form.password2.errors }}

            <button class="btn btn-primary" type="submit">
                Зареєструватися
            </button>

            <p>
                Вже є акаунт?
                <a href="{% url 'login' %}">Увійти</a>
            </p>
        </form>


    </div>
</body>

</html>