{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Створити / Редагувати дані про учня</title>
    <link rel="stylesheet" href="{% static 'tasks/css/style.css' %}">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
</head>

<body>
    <h1 class="main_text">
        {% if form.instance.pk %}
        Редагувати учня
        {% else %}
        Додати учня
        {% endif %}
    </h1>
    <form method="post">
        {% csrf_token %}

        {{ form.non_field_errors }}

        <label>ІПН</label>
        {{ form.student_id }}
        {{ form.student_id.errors }}

        <label>Ім'я</label>
        {{ form.first_name }}
        {{ form.first_name.errors }}

        <label>Прізвище</label>
        {{ form.last_name }}
        {{ form.last_name.errors }}

        <label>Вік</label>
        {{ form.age }}
        {{ form.age.errors }}

        <label>Клас</label>
        {{ form.class_name }}
        {{ form.class_name.errors }}

        <button type="submit" class="btn btn-success">
            Зберегти
        </button>
    </form>
    <a class="back_to_list" href="{% url 'student_list' %}"> <i class='bx bx-chevron-left'></i> Назад до списку</a>
</body>

</html>