{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Створити / Редагувати дані про учня</title>
    <link rel="stylesheet" href="{% static 'tasks/css/style.css' %}">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"> -->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
</head>

<body>
    <h1 class="main_text">{{ form.instance.id|yesno:"Редагувати дані про учня,Додати дані про учня" }}</h1>
    <form class="form" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Зберегти</button>

    </form>
    <a class="back_to_list" href="{% url 'student_list' %}"> <i class='bx bx-chevron-left'></i> Назад до списку</a>
</body>

</html>